SOA_Lab2/cep_service_uddi/target/classes/cep_service_uddi.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:scripting="http://www.mulesoft.org/schema/mule/scripting" xmlns:json="http://www.mulesoft.org/schema/mule/json" xmlns:http="http://www.mulesoft.org/schema/mule/http" xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:doc="http://www.mulesoft.org/schema/mule/documentation"
	xmlns:spring="http://www.springframework.org/schema/beans" 
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-current.xsd
http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/json http://www.mulesoft.org/schema/mule/json/current/mule-json.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd
http://www.mulesoft.org/schema/mule/scripting http://www.mulesoft.org/schema/mule/scripting/current/mule-scripting.xsd">
    <http:listener-config name="HTTP_Listener_Configuration" host="0.0.0.0" port="8081"  doc:name="HTTP Listener Configuration"/>
    <http:request-config name="HTTP_Request_Configuration" host="#[flowVars.cepAddress.host]" port="#[flowVars.cepAddress.port]" basePath="#[flowVars.cepAddress.path]" doc:name="HTTP Request Configuration" protocol="HTTPS"/>
    <flow name="cep_service_uddiFlow">
        <http:listener config-ref="HTTP_Listener_Configuration" path="/SOAserver" allowedMethods="POST" doc:name="HTTP"/>
        <json:json-to-object-transformer returnClass="java.util.HashMap" doc:name="JSON to Object"/>
        <logger message="#[payload.cep]" level="INFO" doc:name="Logger"/>
        <enricher doc:name="Message Enricher">
            <processor-chain doc:name="Processor Chain">
                <scripting:component doc:name="CEP Discovery">
                    <scripting:script engine="Groovy"><![CDATA[import br.ufsc.das.discovery.advance.ServiceDiscoveryHelper
import org.mule.api.transport.PropertyScope

message.setProperty("cepAddress", ServiceDiscoveryHelper.discoverServiceEndpoint("CEPServiceRest","REST"), PropertyScope.INVOCATION)

return payload]]></scripting:script>
                </scripting:component>
                <http:request config-ref="HTTP_Request_Configuration" path="/cepInfo/#[payload.cep]" method="GET" doc:name="CEP"/>
                <json:json-to-object-transformer returnClass="java.util.HashMap" doc:name="JSON to Object"/>
                <logger message="#[payload]" level="INFO" doc:name="Logger"/>
            </processor-chain>
            <enrich source="#[payload]" target="#[payload.cepservice]"/>
        </enricher>
        <logger message="#[payload]" level="INFO" doc:name="Logger"/>
    </flow>
</mule>
