SOA_Lab3/visa_uddi/src/main/app/soa2.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:mongo="http://www.mulesoft.org/schema/mule/mongo" xmlns:ws="http://www.mulesoft.org/schema/mule/ws" xmlns:metadata="http://www.mulesoft.org/schema/mule/metadata" xmlns:mulexml="http://www.mulesoft.org/schema/mule/xml" xmlns:wmq="http://www.mulesoft.org/schema/mule/ee/wmq" xmlns:dw="http://www.mulesoft.org/schema/mule/ee/dw" xmlns:tracking="http://www.mulesoft.org/schema/mule/ee/tracking" xmlns:scripting="http://www.mulesoft.org/schema/mule/scripting" xmlns:cxf="http://www.mulesoft.org/schema/mule/cxf" xmlns:jersey="http://www.mulesoft.org/schema/mule/jersey" xmlns:json="http://www.mulesoft.org/schema/mule/json" xmlns:http="http://www.mulesoft.org/schema/mule/http" xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:doc="http://www.mulesoft.org/schema/mule/documentation"
	xmlns:spring="http://www.springframework.org/schema/beans" 
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-current.xsd
http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd
http://www.mulesoft.org/schema/mule/json http://www.mulesoft.org/schema/mule/json/current/mule-json.xsd
http://www.mulesoft.org/schema/mule/jersey http://www.mulesoft.org/schema/mule/jersey/current/mule-jersey.xsd
http://www.mulesoft.org/schema/mule/cxf http://www.mulesoft.org/schema/mule/cxf/current/mule-cxf.xsd
http://www.mulesoft.org/schema/mule/scripting http://www.mulesoft.org/schema/mule/scripting/current/mule-scripting.xsd
http://www.mulesoft.org/schema/mule/ee/dw http://www.mulesoft.org/schema/mule/ee/dw/current/dw.xsd
http://www.mulesoft.org/schema/mule/ee/tracking http://www.mulesoft.org/schema/mule/ee/tracking/current/mule-tracking-ee.xsd
http://www.mulesoft.org/schema/mule/ws http://www.mulesoft.org/schema/mule/ws/current/mule-ws.xsd
http://www.mulesoft.org/schema/mule/xml http://www.mulesoft.org/schema/mule/xml/current/mule-xml.xsd
http://www.mulesoft.org/schema/mule/ee/wmq http://www.mulesoft.org/schema/mule/ee/wmq/current/mule-wmq-ee.xsd
http://www.mulesoft.org/schema/mule/mongo http://www.mulesoft.org/schema/mule/mongo/current/mule-mongo.xsd">
    <http:listener-config name="Interface" host="0.0.0.0" port="8081" doc:name="HTTP Listener Configuration"/>
    <http:request-config name="CEP" protocol="HTTPS" host="#[flowVars.cepAddress.host]" port="#[flowVars.cepAddress.port]" doc:name="HTTP Request Configuration" basePath="#[flowVars.cepAddress.path]"/>
    <ws:consumer-config name="Web_Service_Consumer" wsdlLocation="CEPService.wsdl" service="CEPServiceSoapService" port="CEPServicePort" serviceAddress="https://#[flowVars.cepAddress]" doc:name="Web Service Consumer"/>
    <ws:consumer-config name="Web_Service_Consumer1" wsdlLocation="MasterCardPaymentService.wsdl" service="MasterCardPaymentServiceService" port="MasterCardPaymentServicePort" serviceAddress="http://#[flowVars.VisaAddress.host]" doc:name="Web Service Consumer"/>
    <ws:consumer-config name="Web_Service_Consumer2" wsdlLocation="MasterCardPaymentService.wsdl" service="MasterCardPaymentServiceService" port="MasterCardPaymentServicePort" serviceAddress="http://#[flowVars.MasterAddress.host]" doc:name="Web Service Consumer"/>
    <http:request-config name="BrRobots" host="#[flowVars.BrRobioticsAddress]" doc:name="HTTP Request Configuration"/>
    <http:request-config name="Stark" host="#[flowVars.StarkAddress]" doc:name="HTTP Request Configuration"/>
    <http:request-config name="BrRobotsAddress" host="#[flowVars.BrRobotsAddress.host]" port="#[flowVars.BrRobotsAddress.port]" basePath="#[flowVars.BrRobotsAddress.path]" doc:name="HTTP Request Configuration"/>
    <http:request-config name="StarkRequest" host="#[flowVars.StarkAddress.host]" port="#[flowVars.StarkAddress.port]" basePath="#[flowVars.StarkAddress.path]" doc:name="HTTP Request Configuration"/>
    <mongo:config name="mongo" username=" admin" database="NewTecDataBase" doc:name="Mongo DB"/>
    <flow name="soa2Flow">
        <http:listener config-ref="Interface" path="/SOAserver" doc:name="Interface">
            <http:response-builder>
                <http:header headerName="Access-Control-Allow-Origin" value="*"/>
                <http:header headerName="Access-Control-Allow-Headers" value="Content-Type, Access-Control-Allow-Headers, Authorization, X-Requested-With"/>
            </http:response-builder>
        </http:listener>
        <parse-template location="C:\Users\lenovo\Desktop\AnypointStudio(6.6_3.9)\Ejemplos\Soa_Lab1\src\main\resource\visa_service" doc:name="Parse Template"/>
        <logger message="#[payload]" level="INFO" doc:name="Comment"/>

        <enricher doc:name="Message Enricher">
            <processor-chain doc:name="Processor Chain">
                <scripting:component doc:name="VisaDiscovery">
                    <scripting:script engine="Groovy"><![CDATA[import br.ufsc.das.discovery.advance.ServiceDiscoveryHelper
import org.mule.api.transport.PropertyScope

message.setProperty("VisaAddress", ServiceDiscoveryHelper.discoverServiceEndpoint("VisaService","SOAP"), PropertyScope.INVOCATION)

return payload
]]></scripting:script>
                </scripting:component>
                <dw:transform-message doc:name="Transform Message" metadata:id="e23faade-637d-4c7d-82f5-c5dd1e58fd13">
                    <dw:input-payload mimeType="application/xml"/>
                    <dw:set-payload><![CDATA[%dw 1.0
%output application/xml
%namespace ns0 http://master.das.ufsc.br/
%namespace ns01 http://visa.das.ufsc.br/
---
{
	ns0#efetuarPagamento: {
		requisicao: {
			dataVencimento: payload.ns01#efetuarPagamento.requisicao.dataVencimento,
			nome: payload.ns01#efetuarPagamento.requisicao.nome,
			numero: payload.ns01#efetuarPagamento.requisicao.numero,
			valor: payload.ns01#efetuarPagamento.requisicao.valor as :string
		}
	}
}]]></dw:set-payload>
                </dw:transform-message>
                <ws:consumer config-ref="Web_Service_Consumer1" operation="efetuarPagamento" doc:name="Visa"/>
            </processor-chain>

            <enrich source="#[xpath('//autorizacao')]" target="#[payload.paymentautorization]"/>

        </enricher>
        <logger message="The payment process was correctly processed " level="INFO" doc:name="Logger"/>

    </flow>
</mule>
